@use '../abstracts/' as *;

.header{
    height: 530px;
    background: url('../../img/header.jpg') $bg-set;
    
    nav{
        display: flex;
        justify-content: flex-end;
        padding: 20px 40px;
        // zindex only works when you position an element
        z-index: 2;
        position: relative;
    }
    
    .logo{
        width: 300px;
        margin: 20px auto;
    }
    
    &-content{
        @include flexCenter(column);
        margin-top: 32px;

        .header-text-1{
            font-size: 22px;
            font-weight: bold;
        }

        .header-text-2{
            font-size: 18px;
            margin: 25px 0;
        }
    }

    &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 180px;
        z-index: 1;
        background: $overlay;
    }
}